@font-face {
    font-family: myFirstFont;
    src: url('Sansation_Light.ttf'), url('Sansation_Light.eot');
    /* IE9+ */
}

@keyframes myfirst {
    from {
        background: red;
    }
    to {
        background: yellow;
    }
}
